body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
}

#header {
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
}
.center {
    width: 75%;
    margin: 0px auto;
}
#logo {
    width: 25%;
    font-size: 25px;
    float: left;
}
#logo img {
    display: block;
    float: left;
    height: 60px;
    margin: 5px;
}
#logo p {
    display: block;
    float: left;
    margin-left: 10px;
    color: grey;
}
#menu {
    width: 75%;
    float: left;
    height: 100%;
}
#menu ul {
    float: left;
    padding: 0px;
}
#menu ul li {
    display: inline-block; /*Coloca los elementoos sobre una misma linea horizontal*/
    list-style: none;/*Quita los puntos de las listtas ul*/
    height: 46px;
    margin-left: 15px;
    margin-right: 20px;
}
#menu p {
    text-decoration: none;/*quita el subrayado de los links*/
    color: #444;
    transition: 300ms all;/*Permite hacer transiciones a los elementos*/
}
#menu p:hover {
    color: #2A41E8;
    text-decoration: underline;
}
#search {
    width: 100%;
}
#cardField {
    width: 75%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#content .center {
    width: 75%;
    margin: 0px auto;
    display: flex;
}
.card{
    border-radius: 10px;
    margin: 15px;
    width: 270px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.card-img {
    position: relative;
    height: fit-content;
}
.card-img img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
}
.propertyType{
    position: absolute;
    background-color: #2A42E8;
    color: #fff;
    border-radius: 10px;
    margin: 0px;
    padding: 2px;
    width: 90px;
    top: 10px;
    left: 5px;
}
.businessType {
    position: absolute;
    background-color: #FF5E15;
    color: #fff;
    border-radius: 10px;
    margin: 0px;
    padding: 2px;
    width: 90px;
    top: 10px;
    left: 100px;
}
.fav {
    position: absolute;
    background-color: #fff;
    color:black;
    border-radius: 10px;
    margin: 0px;
    padding: 2px;
    width: 20px;
    top: 10px;
    right: 10px;
    border: none;  
    transition: 0.25s;
}
.fav:hover{
    scale: 1.2;
}
.fav-clicked {
    position: absolute;
    background-color: #FF5E15;
    color: #fff;
    border-radius: 10px;
    margin: 0px;
    padding: 2px;
    width: 20px;
    top: 10px;
    right: 10px;
    border: none;
}
.price{
    position: absolute;
    background-color: #fff;
    color: #2A42E8;
    border-radius: 10px;
    margin: 0px;
    padding: 2px;
    width: 120px;
    bottom: 10px;
    left: 10px;
}
.card-info{
    position: relative;
    width: 100%;
    height: 100px;
}
.location{
    font-size: larger;
    margin: 5px;
    color: grey;
}
.owner{
    position: absolute;
    font-size: small;
    color: #2A41E8;
    margin: 10px;
    padding: 2px;
    width: auto;
    left: 15px;
    top: 25px;
}
.total-area {
    position: absolute;
    bottom: 0px;
    left: 0%;
    padding: 2px;
    width: auto;
}
.parking {
    position: absolute;
    bottom: 0px;
    left: 25%;
    padding: 2px;
    width: auto;
}
.bathRoom{
    position: absolute;
    bottom: 0px;
    left: 50%;
    padding: 2px;
    width: auto;
}
.rooms{
    position: absolute;
    bottom: 0px;
    left: 80%;
    padding: 2px;
    width: auto;
}


#favField {
    width: 75%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#content .center {
    width: 75%;
    margin: 0px auto;
    display: flex;
}
.hide{
    display: none;
}
.clearFix{
    clear: both;
    float: none;
}